.img {
    width:20%;
    height:20%;
    margin:20px;
    position:relative;
    left:30rem;
}

.tag {
    font-family: roboto;
}

.button {
    padding:5px;
    border-radius: 999px;
    font-family: roboto;
    outline: none;
}