.tag {
    font-family: roboto;

}

.img {
    height:40%;
    width:45%;
}

.container {
    height:95%;  
    width:65%;
    margin:15px;
    padding:5px
}

.button {
    padding:5px;
    border-radius: 5px;
    font-family: roboto;
    outline: none;
    margin:2px
}

