.large{
    width: 3rem;
    height: 3rem;
}


.img3 {
    height:5%;
    width:5%;

}


.simpleButton {
    outline:none;
    padding: 0;
    border-radius: 42px;
    cursor: pointer;
    color: #333333;
    font-weight: 900;
  
    text-decoration: none;
}