
.container{
display:flex;
flex-direction: row;

   
    .simpleButton {
        outline:none;
        padding: 0;
        border-radius: 42px;
        display: inline-block;
        cursor: pointer;
        color: #333333;
        font-weight: 900;
        padding-right:0.5rem;
        padding-left:0.5rem;
        text-decoration: none;
    }
}

